$ff: 'Ubuntu', sans-serif;

$text: #001F29;
$white: #ffffff;
$black: #000;
$grey: #B9C0C1;
$darkgrey: #ABADAD;
$pink: #FFE1D8;
$orange: #FE4610;
$orangegray: #F75532;





$transition: 0.1s all ease-in-out;

$desktop-mini: 1300px;
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
