.schedule__form {
  margin-bottom: 80px;
  padding: 24px 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 57px;
  background: $white;
  box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  width: 281px;
}

.field__title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.field__text {
  @include text($ff, 18px, 21px, 400, $text);
}

.field__input, .field__select {
  margin-left: 56px;
  max-width: 225px;
  background: #fafafa;
  border-radius: 10px;
  padding: 16px;
  border: 0;
  outline: none;
  @include text($ff, 14px, 16px, 400, $text);
}

.btn_find {
  padding: 15px 53px;

  &:hover {
    color: $orange;
    background: $white;
    border: 1px solid $orange;
  }
}

.schedule__ul {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  gap: 60px;

  a {
    @include text("Mulish", 32px, 40px, 600, #abadad);
    transition: $transition;

    &:hover {
        color: $orangegray;
      }
  }
}

.schedule__title{
    margin-bottom: 33px;
}
